@using Domain.request
@model List<Request>
@{
	ViewData["Title"] = "Admin Panel";
	Layout = "AdminLayout";
}


<h2>Admin Panel</h2>

<div class="row text-center mb-4">
	<div class="col">
		<div class="card shadow-sm">
			<div class="card-body">
				<h5 class="card-title">All Requests Today </h5>
				<p class="card-text fs-4">@ViewData["TotalToday"]</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow-sm">
			<div class="card-body">
				<h5 class="card-title">Accepted Today</h5> 
				<p class="card-text fs-4"> @ViewData["AcceptedToday"] </p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow-sm">
			<div class="card-body">
				<h5 class="card-title">Rejected Today </h5>
				<p class="card-text fs-4"> @ViewData["RejectedToday"] </p>
			</div>
		</div>
	</div>  
</div> 

<br />

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Date </th>
			<th scope="col">StardDate</th>
			<th scope="col">FinishDate</th>
			<th scope="col">Username</th>
			<th scope="col">Reasen</th>
			<th scope="col">Response</th>

		</tr>
	</thead>
	<tbody>

		@foreach (var req in Model)
		{
			<tr>
				<th>@req.CratedDate.ToString("yyyy/MM/dd")</th>
				<th>@req.StardDate.ToString("yyyy/MM/dd")</th>
				<th>@req.FinishDateDate.ToString("yyyy/MM/dd")</th>
				<th>@req.RequestedUser.UserName</th>
				<th>@req.Reason</th>
				<th>
					<a asp-action="Response"
					   asp-controller="Admin"
					   asp-route-requestId="@req.RequestId"
					   class="btn btn-sm btn-info">

						Response
					</a>
				</th>
			</tr>
		}
	</tbody>
</table>
 