@using Domain.Requests.Enums
@using Domain.request
@model List<Request>
@{
	Layout = "EmployeeLayout";
}
<a asp-controller="Employee" asp-action="NewRequest" type="button" class="btn btn-primary mt-5">Add New Request</a>
<hr />


<h5>your requests :</h5>


<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Date </th>
			<th scope="col">StardDate</th>
			<th scope="col">FinishDate</th>
			<th scope="col">Reasen</th>
			<th scope="col">Status</th>
			<th scope="col">Detail</th>

		</tr>
	</thead>
	<tbody>

		@foreach (var req in Model)
		{
			<tr>
				<th>@req.CratedDate.ToString("yyyy/MM/dd")</th>
				<th>@req.StardDate.ToString("yyyy/MM/dd")</th>
				<th>@req.FinishDateDate.ToString("yyyy/MM/dd")</th>
				<th >@req.Reason</th>
				<th>
					@switch (req.Status)
					{
						case RequestStatus.Pending:
							<span class="badge bg-warning text-dark">Pending</span>
							;
							break;

						case RequestStatus.Rejected:
							<span class="badge bg-danger">Rejected</span>
							;
							break;

						case RequestStatus.Accepted:
							<span class="badge bg-success">Accepted</span>
							;
							break;
					}
				</th>

				<th>
					<a asp-action="Detail"
					   asp-controller="Employee"
					   asp-route-requestId="@req.RequestId"
					   class="btn btn-sm btn-info">
						Detail
					</a>
				</th>
			</tr>
		}
	</tbody>
</table>